{%extends 'layout/reporte.html.twig' %}
{% block titulo titulo_reporte|title %}
{%block contenido %}
    <div class="page-header">
        {% include 'reporte/encabezado.html.twig' %}
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th> Canal </th>
                <th> Tipo TV </th>
                <th> Fecha</th>
                <th> Dia Semana</th>
                <th> SHR %</th>
                <th> AMR</th>
                <th> AMR %</th>
            </tr>
        </thead>
        <tbody>
            {% for valor in datos %}
            <tr>
                <td>{{ valor.canal }}</td>
                <td>{{ valor.tipo_tv}}</td>
                <td>{{ valor.fecha|date("d/m/Y")}}</td>
                <td>{{ valor.dia_semana}}</td>
                <td>{{ valor.porcentaje_shr|number_format(2,',','.')  }}</td>
                <td>{{ valor.amr|number_format(2,',','.') }}</td>
                <td>{{ valor.porcentaje_amr|number_format(2,',','.') }}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
{% endblock %}